body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FEADBB;
}

header {
    display: flex;
    flex-direction: column;
    background: #DD4C93;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;   
}

nav ul li a:hover {
    background-color: #FEADBB;
    color: #DD4C93;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

#search-bar {
    margin: 20px auto;
    text-align: center;
}

#search-input, #sort-select {
    padding: 10px;
    margin: 5px;
    border: 1px solid  violet;
    border-radius: 5px;
    font-size: 16px;
}

#product-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.product {
    background: #DD4C93;
    border: 1px solid violet;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(167, 21, 101, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    transition: all 500ms linear;   
}

.product img:hover {
    transform: scale(1.1);
   
}

.product p {
    color: #fff;
    margin-bottom: 0;
}

.product h3 a {
    text-decoration: none;
    color: #fff;
}

.product button {
    background: #fff;
    color: #DD4C93;
    padding: 10px;
    border: none;
    border-radius: 50px;
    width: 80%;
    margin-top: 0;
}

.product button:hover {
    background: #FEADBB;
    cursor: pointer;
    font-weight: bold;
}

input[type="text"]::placeholder {
    color: #fff;
}

input[type="text"] {
    background: #DD4C93;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

select {
    background: #DD4C93;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
}

select option {
    background: #DD4C93;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

#cart-count {
    margin-bottom: 1rem;
    font-weight: bold;
}

.checkout-grid {
    display: grid;
    grid-template-columns: 1fr 350;
    gap: 20px;  
    align-items: start; 
}

@media (max-width: 1000px) {
  .main {
    max-width: 500px;
  }

  .checkout-grid {
    grid-template-columns: 1fr;
  }
}

#checkout-section {
    margin: 20px;
    background: #DD4C93;
    padding: 20px;
    border: 1px solid violet;
    border-radius: 10px;
}

.cart-item {
    margin-bottom: 10px; 

    & img {
        width: 100px;
        height: auto;
    }

}

#cart-items input {
    background: #FEADBB;
    color: #DD4C93;
    padding: 10px;
    border: 1px solid violet;
    border-radius: 10px;
    width: 8%;
}

#cart-items button {
    width: 20%;
}


.added-to-cart {
  font-size: 12px;
  margin: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: var(--bg-color);
  opacity: 0;
}

.added-to-cart img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.added-to-cart-visible {
  opacity: 1;
}


.payment-summary, .order-summary {
    background: #DD4C93;
    color: #fff;
    padding: 20px;
    border: 1px solid violet;
    border-radius: 10px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
}

.payment-summary button, .order-summary button {
    background: #fff;
    color: #DD4C93;
    padding: 10px;
    border: none;
    border-radius: 50px;
    width: 40%;
    margin-top: 10px;
}

.payment-summary button:hover {
    background: #FEADBB;
    cursor: pointer;
    font-weight: bold;
}

.payment-summary h2, .order-summary h2 {
    font-size: 1.5rem;
}

.payment-summary p {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .payment-summary, .order-summary {
        width: 80%;
    }
}